<a href="https://colab.research.google.com/github/aayushabhatia/Data-Science-and-Business-Intelligence/blob/main/26feb_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
To store and analyze movie reviews.
Tasks:
1 Create a database movies.db.
2 Create a table reviews with columns:
  id (INTEGER, PRIMARY KEY, AUTOINCREMENT)
  movie_name (TEXT, NOT NULL)
  reviewer (TEXT, NOT NULL)
  rating (REAL, NOT NULL)
3 Insert at least 5 reviews.
4 Display all reviews.
5 Find the average rating per movie.
6 Find the highest-rated movie.
7 Display all movies with a rating above 4.0.
'''

import sqlite3

# Step 1: Create database
conn = sqlite3.connect('movies.db')
cursor = conn.cursor()

# Step 2: Create reviews table
cursor.execute('''
CREATE TABLE IF NOT EXISTS reviews (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    movie_name TEXT NOT NULL,
    reviewer TEXT NOT NULL,
    rating REAL NOT NULL
)
''')
conn.commit()

# Step 3: Insert movie reviews
reviews_data = [
    ('Inception', 'Alice', 4.8),
    ('The Dark Knight', 'Bob', 4.9),
    ('Interstellar', 'Charlie', 4.7),
    ('Titanic', 'David', 4.2),
    ('Avengers: Endgame', 'Emma', 4.5)
]
cursor.executemany("INSERT INTO reviews (movie_name, reviewer, rating) VALUES (?, ?, ?)", reviews_data)
conn.commit()

# Step 4: Display all reviews
print("All Movie Reviews:")
cursor.execute("SELECT * FROM reviews")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Step 5: Find the average rating per movie
print("\nAverage Rating Per Movie:")
cursor.execute("SELECT movie_name, AVG(rating) FROM reviews GROUP BY movie_name")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Step 6: Find the highest-rated movie
cursor.execute("SELECT movie_name, MAX(rating) FROM reviews")
highest_rated = cursor.fetchone()
print(f"\nHighest Rated Movie: {highest_rated[0]} with Rating: {highest_rated[1]}")

# Step 7: Display all movies with a rating above 4.0
print("\nMovies with Rating Above 4.0:")
cursor.execute("SELECT movie_name, rating FROM reviews WHERE rating > 4.0")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the database connection
conn.close()

All Movie Reviews:
(1, 'Inception', 'Alice', 4.8)
(2, 'The Dark Knight', 'Bob', 4.9)
(3, 'Interstellar', 'Charlie', 4.7)
(4, 'Titanic', 'David', 4.2)
(5, 'Avengers: Endgame', 'Emma', 4.5)

Average Rating Per Movie:
('Avengers: Endgame', 4.5)
('Inception', 4.8)
('Interstellar', 4.7)
('The Dark Knight', 4.9)
('Titanic', 4.2)

Highest Rated Movie: The Dark Knight with Rating: 4.9

Movies with Rating Above 4.0:
('Inception', 4.8)
('The Dark Knight', 4.9)
('Interstellar', 4.7)
('Titanic', 4.2)
('Avengers: Endgame', 4.5)