<a href="https://colab.research.google.com/github/aayushabhatia/Data-Science-and-Business-Intelligence/blob/main/sqlite_assignment2_studentDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aayusha Bhatia     22070122004      CSE-A

SQLite Assignment -2

Student Database

In [ ]:
'''
1. Create a database named student_records.db.
2. Create a table students with the following columns:
    • id (INTEGER, PRIMARY KEY, AUTOINCREMENT)
    • name (TEXT, NOT NULL)
    • age (INTEGER, NOT NULL)
    • grade (TEXT, NOT NULL)
3. Insert at least three student records into the table.
4. Retrieve and display all records from the students table.
5. Update the age of one student and display the updated records.
6. Delete one student record and display the remaining records.
7. Close the database connection after all operations.
'''

import sqlite3

# Step 1: Create database
conn = sqlite3.connect('student_records.db')
cursor = conn.cursor()

# Step 2: Create students table
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    grade TEXT NOT NULL
)
''')
conn.commit()

# Step 3: Insert student records
students_data = [
    ('Alice', 20, 'A'),
    ('Bob', 22, 'B'),
    ('Charlie', 21, 'A')
]
cursor.executemany("INSERT INTO students (name, age, grade) VALUES (?, ?, ?)", students_data)
conn.commit()

# Step 4: Retrieve and display all records
print("All Student Records:")
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Step 5: Update age of one student
cursor.execute("UPDATE students SET age = 23 WHERE name = 'Bob'")
conn.commit()
print("\nUpdated Student Records:")
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Step 6: Delete one student record
cursor.execute("DELETE FROM students WHERE name = 'Charlie'")
conn.commit()
print("\nRemaining Student Records After Deletion:")
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Step 7: Close the database connection
conn.close()

All Student Records:
(1, 'Alice', 20, 'A')
(2, 'Bob', 22, 'B')
(3, 'Charlie', 21, 'A')

Updated Student Records:
(1, 'Alice', 20, 'A')
(2, 'Bob', 23, 'B')
(3, 'Charlie', 21, 'A')

Remaining Student Records After Deletion:
(1, 'Alice', 20, 'A')
(2, 'Bob', 23, 'B')